$cardBackground: white;
$borderColor: black;
$danger: red;

$mainColor: rgb(240, 239, 239);
$primary: rgb(52, 154, 185);
$selectedRow: rgb(218, 212, 212);

$shadowColor: rgba(34, 60, 80, 0.2);
$borderModalButton: rgba(0, 0, 0, 0.2);

$modalWrapper: #c4c4c4e5;
$modalButtonSave: #c5e9ffb8;

$buttonText: $cardBackground;
$buttonModalHoverText: $cardBackground;
$modalBackground: $cardBackground;
$modalButtonText: $borderColor;
